
@use 'sass:color';

$parimary-color: #5463ed;
$parimary-color-hover: color.adjust($parimary-color, $lightness: 20%);
$parimary-color-active: color.adjust($parimary-color, $lightness: -20%);
$parimary-color-disabled: color.adjust($parimary-color, $saturation: -50%);

$color: color.adjust(#000000, $whiteness: 15%);
$name: '--color';

:root {
    #{$name}: #{$parimary-color};
}


button {
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    color: $color;
}